@model IEnumerable<QAwebApp.Models.AdminModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<p>
    @Html.ActionLink("Add Admin", "AddAdmin")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sid)
                    @Html.HiddenFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @using (Html.BeginForm("DeleteAdmin", "Form", FormMethod.Post, new { id = item.Id }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => item.Id)
                        <input type="submit" value="Delete" />
                    }
                </td>
                @*<td>
                        <div asp-validation-summary="All"></div>
                        <form method="post" data-ajax="true" data-ajax-url="/form/deleteadmin" data-ajax-confirm="return confirm(Are you sure?)">

                            @Html.HiddenFor(m => item.Id)
                            <input type="submit" value="Delete asp" class="btn btn-default" />
                            <a class="btn btn-default" href="@Url.Action("Index", "Form")">Cancel</a>
                        </form>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
<br />
<h2>@ViewData["error"]</h2>
<div>

    @Html.ActionLink("Back to List", "Index")
</div>
